<div class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="https://amp.businessinsider.com/images/5b462c57f4af9c1a008b45eb-750-563.jpg" style="width:82px; height:86px" title="White flower" alt="Dwayne">
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/quiz">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/football">Football</a>
            </li>
          </ul>
        </div>
    </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-7"><i class="fa fa-sun-o" aria-hidden="true">Weather</i></h1>
      <p class="lead">These are the weather conditions of your favourite cities  <i class="fa fa-smile-o" aria-hidden="true"></i></p>
    </div>
  </div>
  <div class="station">
    <div class="card london" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.londonandpartners.com/visit/general-london/areas/river/76709-640x360-houses-of-parliament-and-london-eye-on-thames-from-above-640.jpg" alt="londonia" style="height: 240px;">
      <div class="card-body">
        <p class="card-text">{{ ( london | async)?.name }}</p>
        <p class="card-text">
          Current Temperature: {{ ( london | async)?.main.temp - 273.15 }} °C
        </p>
        <p class="card-text">
          Current Humidity: {{ ( london | async)?.main.humidity }} %
        </p>
        <p class="card-text">
          Minimal Temperature: {{ ( london | async)?.main.temp_min - 273.15 }} °C
        </p>
        <p class="card-text">
          Maximal Temperature: {{ ( london | async)?.main.temp_max - 273.15 }} °C
        </p>
      </div>
    </div>

    <div class="card bristol" style="width: 18rem;">
      <img class="card-img-top" src="http://www.bristol.ac.uk/media-library/sites/city/images/famous-for.jpg" alt="bristolia" style="height: 240px;">
      <div class="card-body">
        <p class="card-text">{{ ( bristol | async)?.name }}</p>
        <p class="card-text">
          Current Temperature: {{ ( bristol | async)?.main.temp - 273.15 }} °C
        </p>
        <p class="card-text">
          Current Humidity: {{ ( bristol | async)?.main.humidity }} %
        </p>
        <p class="card-text">
          Minimal Temperature: {{ ( bristol | async)?.main.temp_min - 273.15}} °C
        </p>
        <p class="card-text">
          Maximal Temperature: {{ ( bristol | async)?.main.temp_max - 273.15 }} °C
        </p>
      </div>
    </div>

    <div class="card rome" style="width: 18rem;">
      <img class="card-img-top" src="https://media.cntraveler.com/photos/58da7b6e1021b64be09794da/master/pass/GettyImages-177303568.jpg" alt="romia" style="height: 240px;">
      <div class="card-body">
        <p class="card-text">{{ ( rome | async)?.name }}</p>
        <p class="card-text">
          Current Temperature: {{ ( rome | async)?.main.temp - 273.15 }} °C
        </p>
        <p class="card-text">
          Current Humidity: {{ ( rome | async)?.main.humidity }} %
        </p>
        <p class="card-text">
          Minimal Temperature: {{ ( rome | async)?.main.temp_min - 273.15 }} °C
        </p>
        <p class="card-text">
          Maximal Temperature: {{ ( rome | async)?.main.temp_max - 273.15 }} °C
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="london">
  <p>
    {{ ( london | async)?.name }}
  </p>

  <p>
    Current Temperature: {{ ( london | async)?.main.temp }}
  </p>

  <p>
    Current Humidity: {{ ( london | async)?.main.humidity }}
  </p>

  <p>
    Minimal Temperature: {{ ( london | async)?.main.temp_min }}
  </p>

  <p>
    Maximal Temperature: {{ ( london | async)?.main.temp_max }}
  </p>
</div> -->
