<div class="football">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="https://amp.businessinsider.com/images/5b462c57f4af9c1a008b45eb-750-563.jpg" style="width:82px; height:86px" title="White flower" alt="Dwayne">
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/quiz">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/weather">Weather</a>
            </li>
          </ul>
        </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
      <h1 class="display-7"><i class="fa fa-futbol-o" aria-hidden="true">Borussia Football Team of 2019</i></h1>
      <p class="lead">Choose your dream team !</p>
    </div>
  </div>
    <form>
        <div class="form-group">
         <label for="formGroupExampleInput">Goalkeeper</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Goalkeeper" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Defenders</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Defender" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Midfielders</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Midfield" required>
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput4">Attackers</label>
          <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Attacking" required>
      </div>
      <div class="submit">
          <button class="btn btn-primary btn-rounded" type="submit">Submit Football Team</button>
      </div>
    </form>
</div>
